<html>
<head>
	<title></title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
	<link href="/apply.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function run(){
			document.getElementById("@child.district_first_wish").value = document.getElementById("a").value;
		}
	</script>
</head>
	<body>
		<div id="container">
			
			<%= erb :header %>

			<p><label class="title">Форма за кандидатстване</label></p>

			<% if @parent.errors.any? or @child.errors.any? %>
				<ul class="error">
				<% @parent.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
				<% @child.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
				</ul>
			<% end %>

			<div id="contant">
				<form action="/apply" method="POST">
					<p>
						<label class="subtitle">Данни за родителите</label>
					</p>
					<p>
						<label class="names">Родител 1:</label>
					</p>
					<p>
						<label class="field">ЕГН:</label>
						<input type="tel" name="parent[mother_egn]" value="<%= @parent.mother_egn %>" required/>
					</p>
					<p>
						<label class="field">Име:</label>
							<input type="text" name="parent[mother_first_name]" value="<%= @parent.mother_first_name %>" required/>
					</p>
					<p>
						<label class="field">Презиме:</label>
							<input type="text" name="parent[mother_second_name]" required/>
					</p>
					<p>
						<label class="field">Фамилия:</label>
							<input type="text" name="parent[mother_last_name]" required/>
					</p>
					<p>
						<label class="option">Родител 2:</label>
					</p>
					<p>
						<label class="field">ЕГН:</label>
						<input type="tel" name="parent[father_egn]"/>
					</p>
					<p>
						<label class="field">Име:</label>
							<input type="text" name="parent[father_first_name]"/>
					</p>
					<p>
						<label class="field">Презиме:</label>
							<input type="text" name="parent[father_second_name]"/>
					</p>
					<p>
						<label class="field">Фамилия:</label>
							<input type="text" name="parent[father_last_name]"/>
					</p>
				
					<label class="option">Район на месторабота:</label>
						<select name="parent[district_id]">
							<option selected></option>
				      <% District.order(:name).each do |district| %>
							  <option value= '<%= district.id %>' <%= @parent.district_id == district.id ? 'selected' : '' %>><%= district.name %></option>
							<% end %>
						</select>
					<p>
						<label class="option">Име на училището в което е учил родител 1:</label>
						<select name="parent[mother_school_id]">
							<option selected></option>
							<% School.order(:name).each do |school| %>
								<option value= '<%= school.id %>'><%= school.name %></option>
				      <% end %>
						</select>
					</p>
					<p>
						<label class="option">Име на училище в което е учил родител 2:</label>
						<select name="parent[father_school_id]">
							<option selected></option>
							<% School.order(:name).each do |school| %>
								<option value= '<%= school.id %>'><%= school.name %></option>
				      <% end %>
						</select>
					</p>
					<p>
						<label class="subtitle">Данни за детето</label>
					</p>
					<p>
						<label class="names">Дете 1:</label>
					</p>
					<p>
						<label class="field">ЕГН:</label>
						<input type="tel" name="child[egn]" required/>
					</p>
					<p>
						<label class="field">Име:</label>
							<input type="text" name="child[first_name]" required/>
					</p>
					<p>
						<label class="field">Презиме:</label>
							<input type="text" name="child[second_name]" required/>
					</p>
					<p>
						<label class="field">Фамилия:</label>
							<input type="text" name="child[last_name]" required/>
					</p>
					
					<input type="submit" value="Добави дете" />

					<p>
						<label class="option">Район на местоживеене:</label>
						<select name="child[district_id]">
							<option selected></option>
				    	<% District.order(:name).each do |district| %>
							  <option value= '<%= district.id %>'><%= district.name %></option>
							<% end %>
						</select>
					</p>
					<p class="group_option" required>
						<label>Има ли удостоверение за завършена подготвителна група</label></br>
							Да:<input type="radio" name="child[group]" value="Да">
							Не:<input type="radio" name="child[group]" value="Не">
					</p>
					<p class="without_parent_option" required>
						<label>Сирак</label></br>
							Да:<input type="radio" name="child[orphan]" value="Да">
							Не:<input type="radio" name="child[orphan]" value="Не">
					</p>
					<p>
						<label>Полусирак</label></br>
							Да:<input type="radio" name="child[half_orphan]" value="Да">
							Не:<input type="radio" name="child[half_orphan]" value="Не">
					</p>
					<p class="education_system_option" required>
						<label>Работи родител в системата на столичното образование:</label></br>
							Да:<input type="radio" name="child[parent_in_system]" value="Да">
							Не:<input type="radio" name="child[parent_in_system]" value="Не">
					</p>
					<input type="submit" value="Запиши"/>
				</form>
			</div>
		</div>
	</body>
</html>