<html>
<head>
	<title></title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		window.schools = <%= School.by_district.to_json %>;
		function district_change(district_id) {
			var elem = document.getElementById('application_school_id');
			var len = elem.options.length;
    		for (var i=len; i > 1; i--) {
        		elem.removeChild( elem.options[i-1] );
    		}
        	len = window.schools[district_id].length;
        	for( var i = 0; i < len; i++ ) {
        		var school = window.schools[district_id][i];
    			o = document.createElement('option');
            	o.appendChild( document.createTextNode( school.name ) );
                o.value = school.id;
            	elem.appendChild(o);
			}
		}
	</script>
</head>
	<body>
		<div id="container">
			
			<%= erb :header %>

			<h1><label class="form_title">Форма за създаване на кандидатура</label></h1>

			<% if @application.errors.any? %>
				<ul class="error">
				<% @application.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
				</ul>
			<% end %>

			<div class="content">
				<form action="/applications" method="POST">
					<p>
					<label class="option">Дете:</label>
						<select name="application[child_id]">
							<option></option>
				      <% @user.children.each do |child| %>
							  <option value= '<%= child.id %>' <%= @application.child_id == child.id ? 'selected' : '' %>><%= child.to_s %></option>
							<% end %>
						</select>
					</p>
					<p>
					<label class="option">Район на училището:</label>
						<select name="district" onchange="district_change(this.value)">
							<option></option>
				      <% District.order(:name).each do |district| %>
							  <option value= '<%= district.id %>' <%= @application.school.try(:district_id) == district.id ? 'selected' : '' %>><%= district.name %></option>
							<% end %>
						</select>
					</p>
					<p>
					<label class="option">Училище:</label>
						<select name="application[school_id]" id="application_school_id">
							<option></option>
				      <% School.where(district_id: @application.school.try(:district_id)).each do |school| %>
							  <option value= '<%= school.id %>' <%= @application.school_id == school.id ? 'selected' : '' %>><%= school.name %></option>
							<% end %>
						</select>
					</p>

					<p>
					<label class="option">Училището е жалние №:</label>
						<select name="application[num]">
					      	<% 1.upto(5) do |num| %>
								<option value= '<%= num %>'><%= num %></option>
							<% end %>
						</select>
					</p>
					<input type="submit" value="Запиши"/>
				</form>
			</div>
		</div>
	</body>
</html>