<html>
<head>
	<title></title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>
	<body>
		<div id="container">
			
			<%= erb :header %>

			<table>
			<thead>
			<tr>
				<th>Дете</th>
				<th>Дата</th>
				<th>Училище</th>
				<th>Пореден номер</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				<% @applications.each do |app| %>
				<tr>
					<td><%= app.child.to_s %></td>
					<td><%= app.created_at %></td>
					<td><%= app.school.name %></td>
					<td><%= app.num %></td>
					<td>
						<form action="/application/<%= app.id %>" method="POST">
							<input type="hidden" name="_method" value="delete">
	    					<input type="submit" value="Изтрий">
						</form>
					</td>
				</tr>
				<% end %>
			</tbody>
			</table>

			<a href="/applications/new">Добавяне на кандидатура</a>
		</div>
	</body>
</html>

