<html>
<head>
	<title>Дете</title>
	<link href="/style.css" rel="stylesheet" type="text/css" />
</head>
	<body>
		<%= erb :header %>
		<form action="/children" method="POST">
		<div class="content_">
			
			<div class="title">
				<h1>Данни за вашето дете</h1>
			</div>
			<p>
				<label class="names">Дете 1:</label>
			</p>
			<p>
				<label class="field">ЕГН:</label>
					<input type="tel" name="child[egn]" value="<%= @child.egn %>" required/>
			</p>
			<p>
				<label class="field">Име:</label>
					<input type="text" name="child[first_name]" value="<%= @child.first_name %>" required/>
			</p>
			<p>
				<label class="field">Презиме:</label>
					<input type="text" name="child[second_name]" value="<%= @child.second_name %>" required/>
			</p>
			<p>
				<label class="field">Фамилия:</label>
					<input type="text" name="child[last_name]" value="<%= @child.last_name %>" required/>
			</p>

			<p>
				<label>Район на местоживеене:</label>
					<select name="child[district_id]" required>
							<option selected></option>
						  <% District.order(:name).each do |district| %>
								<option value= '<%= district.id %>' <%= @child.district_id == district.id ? 'selected' : '' %>> <%= district.name %></option>
							<% end %>
					</select>
			</p>
			<p>
				<label>Има ли удостоверение за завършена подготвителна група: </label>
					Да:<input type="radio" name="child[group]" value="true">
					Не:<input type="radio" name="child[group]" value="false">
			</p>
			<p>
				<label>Сирак: </label>
					Да:<input type="radio" name="child[orphan]" value="true">
					Не:<input type="radio" name="child[orphan]" value="false">
			</p>
			<p>
				<label>Полусирак: </label>
					Да:<input type="radio" name="child[half_orphan]" value="true">
					Не:<input type="radio" name="child[half_orphan]" value="false">
			</p>
			<p>
				<label>Работи родител в системата на столичното образование: </label>
					Да:<input type="radio" name="child[parent_in_system]" value="true">
					Не:<input type="radio" name="child[parent_in_system]" value="false">
			</p>

			<input type="submit" value="Запиши"/>
			</div>
		</form>
	</body>
</html>