<html>
<head>
	<title>Класиране</title>
	<link rel="stylesheet" type="text/css" href="/table.css" />
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
	<body>
		<%= erb :header %>
		<div id="container">

			<div class="title">
				<h1>Крайно класиране</h1>
			</div>
			<div class="subtitle_">
				<h1>ПРИЕТИ</h1>
			</div>
			<table class="table_classifing">
				<thead>
				<tr>
					<th>Номер</th>
					<th>Име</th>
					<th>Презиме</th>
					<th>Фамилия</th>
					<th>Училище</th>
					<th>Точки</th>
					<th>&nbsp;</th>
				</tr>
				</thead>
				<tbody>
					<% @applications_confirmed.each do |app| %>
					<tr>
						<td><%= app.num_classifing %></td>
						<td><%= app.child.first_name %></td>
						<td><%= app.child.second_name %></td>
						<td><%= app.child.last_name %></td>
						<td><%= app.school.name %></td>
						<td><%= app.points %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="subtitle_">
				<h1>НЕПРИЕТИ</h1>
			</div>
			<table class="table_classifing">
			<thead>
			<tr>
				<th>Име</th>
				<th>Презиме</th>
				<th>Фамилия</th>
				<th>Училище</th>
				<th>Точки</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
				<% @applications_rejected.each do |app| %>
				<tr>
					<td><%= app.child.first_name %></td>
					<td><%= app.child.second_name %></td>
					<td><%= app.child.last_name %></td>
					<td><%= app.school.name %></td>
					<td><%= app.points %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</body>
</html>